<style> 
            thirdDiv {
                height: 600px;
                width: 500px;
                background-color: aquamarine;
                padding: 50px;
                border:cyan  20px;
            } 
            spanId {
                font-size: 18px;
                margin: 50px;
                border: 100px;
            }
            divClass {
                color: red
            }
        
        </style>